<div class="container-fluid">

    <!-- TopBar -->
   
        <app-top-bar></app-top-bar>
    
     <div class="row">
        <!-- SideBar -->
        <div class="col-md-2">
            <app-left-sidebar></app-left-sidebar>
        </div>

        <!-- Main Container -->
        <div class="col-md-7">
            <router-outlet></router-outlet>
        </div>

        <!-- Right Sidebar for registeraiton -->
        <div class="col-md-3">
            <app-registeration></app-registeration>
        </div>

    </div>

</div>

<!-- Login  Model -->


     